/* This is the main css page to beautify the movie and star pages */

body {
    background-color: #30323D;
    font-family: "Lexend", serif;
}

h1 {
    color: #F7F0F0;
    font-style: italic;
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 5px;
}

h3 {
    color: #F7F0F0;
    padding-left: 20px;
    padding-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: #44cf6c;
    font-size: 20px;
    text-decoration-thickness: 500px;
}

tbody {
    background-color: #90d4a3;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: dodgerblue;
}

/* selected link */
a:active {
    color: dodgerblue;
}

#navigation-block {
    padding-bottom: 100px;
}

#nav {
    position:fixed;
    left:0px;
    top:0px;
    height:30px;
    width:100%;
    z-index: 1;
}

.current-page {
    font-weight: 900;
    font-style: italic;
}

#navigation-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #1c2145;
}
.navigation-li {
    display: inline;
    float: left;
}

a.navigation-list {
    display: block;
    color:white;
    text-align: center;
    padding: 20px 20px;
    background-color:#1c2145;
    text-decoration: none;
}

a.navigation-list:hover {
    background-color: #1c2145;
}

li.main-genres-li {
    padding: 10px;
    list-style-type: none;
    color:#44cf6c;
    display: inline;
    float: left;

}

.main_page_search_type_box {
    padding-left: 0px;
    text-align: center;
}

#main_page_boxes {
    margin: auto;
    width: 70%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #44cf6c;
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
    width: 40%;
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.checkout {

}

.subtotal {
    background-color: aqua;
}

.pay_input {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
}
.pay_input:focus  {
    outline: none;
    border: 2px solid #0074d9;
    box-shadow: 0 0 5px #0074d9;
}

.pay_header {
    text-align: center;
}

h6 {
    text-align: center;
    color: white;
}

#search_box {
    margin: auto;
    display: block;
}

#search_button {
    color:black;
}

input {
    display: block;
    color:black;
}

.one_line_search {
    float: left;
    margin-right: 20px;
}
