/* This is the main css page to beautify the movie and star pages */

body {
    background-color: #30323D;
    font-family: "Lexend", serif;
}

h1 {
    color: #F7F0F0;
    font-style: italic;
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 5px;
}

h3 {
    color: #F7F0F0;
    padding-left: 20px;
    padding-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: #44cf6c;
    font-size: 20px;
    text-decoration-thickness: 500px;
}

tbody {
    background-color: #90d4a3;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: dodgerblue;
}

/* selected link */
a:active {
    color: dodgerblue;
}

#nav {
    position:fixed;
    left:0px;
    top:0px;
    height:30px;
    width:100%;
    z-index: 1;
}

.current-page {
    font-weight: 900;
    font-style: italic;
}

#navigation-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #1c2145;
}
.navigation-li {
    display: inline;
    float: left;
}

a.navigation-list {
    display: block;
    color:white;
    text-align: center;
    padding: 20px 20px;
    background-color:#1c2145;
    text-decoration: none;
}

a.navigation-list:hover {
    background-color: #1c2145;
}